.Game_page {
    height: 100vh;
    background-color: black;
    width: 100%;
}

.top_page {
    height: 100px;
    max-width: 1000px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.again_button {
    height: 60px;
    width: 170px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    
}

.top_page_text {
    margin-right: 10px;
    color: white;
}

.guess_my_number {
    max-width: 1300px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    height: 350px;
    padding-top: 40px;
}

.guess_my_number_text {
    font-size: 40px;
    text-align: center;
    color: white;

}

.hr_class {
    height: fit-content;
    width: 100%;
    color: white;
    /* background-color: white; */
    margin-top: 50px;
    position: relative;
}

.hr_class_center {
    height: 150px;
    width: 150px;
    margin: auto;
    background-color: white;
}

.score_part {
    background-color: rgb(0, 0, 0);
    max-width: 1300px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.score_part_left {
    height:250px;
    width: 400px;
    background-color: rgb(0, 0, 0);
}

.score_part_right {
    height:250px;
    width: 400px;
    background-color: rgb(0, 0, 0);
}

.your_number {
    height: 100px;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 40px;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;

}

.check_button {
    height: 70px;
    width: 150px;
    margin-left: 125px;
    margin-top: 30px;
    font-size: 20px;

}
.score_part_right_text_top{
    margin-top: 20px;
    color: white;
}
.score_part_right_text_top_center{
    color: white;
    margin-top: 40px;

}
.score_part_right_text_top_bottom{
    color: white;

}